*{
    background-color: #000000;
    color: white;
    margin: 0%;
    padding: 0%;
}
.topnav {
    margin-left: 300px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.nor {
    margin-left: 100px;
    float: left;
}
.b1{
    background-color: black; 
    color:white;
}
.b1:hover{
    color: #000000;
    background-color: white;
}
.b2{
    background-color: lightgoldenrodyellow; 
    color:black;
}
.b2:hover{
    color: lightgoldenrodyellow;
    background-color: black;
}
button{
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid white;
}
h1{
    font-size: 40px;
}
mark{
    background-color: #eefda3;
    color: black;
}
img {
    float: right;
    width: 400px;
    height: 300px;
}
.s1 {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    background-color: black;
}
ul{
    list-style: none;
}
li{
    float: left;
    border: 1px solid white;
    border-radius: 15px;
    padding: 30px;
}
h3{
    font-size: 18px;
    color: black;
    background-color: transparent;
}
.ps{
    font-size: 10px;
    background-color: transparent;
    color: black;
}
.l1{
    background-color: #ddd;
    padding: 10px;
}
li{
    list-style-type: none;
}
